body{
    margin:auto;
    background-color:black;
}
.header{
    background-color: black;
    color:white;
    width:100%;
    height:50px;
    position:fixed;
}
.netlogo{
    width:9%;
    height:25px;
    margin-top:8px;
    margin-left:9px;

}
.address-my {
    color: white;
    min-width: 155px;
   
    height: 100%;
   
    font-size: 13px;
    padding: 5px;
}

#img {
    object-fit: cover;
}

#imG-container {
   margin-top:-3.2%;
   margin-left:89%;
    
}

#temperature-here {
    margin-top:-3.2%;
    margin-left:89%;
     
   
}

#address-me {
    margin-top:-3.2%;
    margin-left:89%;
     
}

.day-n-night {
    position: fixed;
    z-index: 25;
    bottom: 70vh;
    right: 0px;
    width: 90px;
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: rgb(152, 131, 12);
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    background-color:black;
}
#coupon{
    height:200px;
    width:400px;
    background-color:lightslategray;
    z-index: 100;
    position: absolute;
    display: none;
    margin-left: 40%;
    margin-top:-349px;
}
#coup{
    margin-top: -12px;
    margin-left:118px;
}
.p3{
    margin-left:52px;
    margin-top:9px;
}
.c1{
    height:33px;
    width:233px;
    margin-left:39px;
    margin-top:1px;
}
.head1{
    width:9%;
    height:41px;
    margin-top:24px;
    margin-left:80px;
}
#head1 >img{
    width:4%;
    height:22px;
    margin-top: 10px;
    margin-left:65px;
}
.homepage{
    height:400px;
    width:100%;
    background-image:url('./images/RED\ NOTICE.jpg');
    background-size: 100% 400px;
    border:1px solid black;
}
.hometitle{
    color:white;
    margin-left:56px;
    font-weight:bold;
    font-size:56px;
    margin-top:79px;
}
.home-button{
    margin-left:176px;
    cursor:pointer;
    outline: none;
}
.home-buttons{
    margin-left:10px;
}
.home-description{
    color:white;
    margin-left:60px;
    margin-top:20px;
    font-size:20px;
}
.page1{
    background-color: black;
}
h2{
    background-color:black;
    color:white;
    margin-left:30px;
}
.trend{
    width:97%;
    object-fit:contain;
    max-height:100px;
    margin-left:10px;
    transition: transform 450ms;
}
.trend:hover{
    transform:scale(1.09);
}
.Trending{
    display:flex;
    overflow-y:hidden;
    overflow-x:scroll;
    margin-left:23px;
}
#big{
    height:100px;
}

.Trending::-webkit-scrollbar {
    display:none;
}
.footer {
    width: 100%;
    height: 200px;
}
.foot1{
    width:30%;
    height:200px;
    font-size:15px;
    margin-top: 78px;
    margin-left: 88px;
}
.foot2{
    width:30%;
    height:200px;
    font-size:15px;
    margin-top: -201px;
    margin-left: 326px;
}
.foot3{
    width:30%;
    height:200px;
    font-size:15px;
    margin-top: -200px;
    margin-left: 556px;
}
.foot4{
    width:30%;
    height:200px;
    font-size:15px;
    margin-top: -200px;
    margin-left: 751px;
}
.foot5{
    width:30%;
    height:200px;
    font-size:15px;
    margin-top: -87px;
    margin-left: 92px;
}